body {
    /* Cambia la altura a min-height para permitir más flexibilidad */
    display: flex; /* Usar flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente */
    
}

.login-container {
    background-color: #5e387e; /* Color de fondo del contenedor */
    padding: 80px; /* Reduce el espaciado interno del contenedor */
    border-radius: 50px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1); /* Sombra sutil */
    max-width: 500px; /* Ancho máximo (puedes ajustar esto) */
    height: 500px;
    color: white; /* Color del texto */
    position: relative; /* Posicionamiento absoluto */
   
    left: 200%; /* Mueve el contenedor hacia el centro horizontalmente */
}

input {
    display: block; /* Para que los inputs estén en líneas separadas */
    width: 100%; /* Para que los inputs ocupen todo el ancho del contenedor */
    padding: 10px; /* Espaciado interno */
    margin: 35px 0; /* Margen entre los inputs (ajustado) */
    border: 5px solid #ddd; /* Borde de los inputs */
    border-radius: 5px; /* Bordes redondeados para los inputs */
}

button {
    background-color: #6fc28e; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: 95%; /* Botón ocupa todo el ancho */
}

button:hover {
    background-color: #528d94; /* Color de fondo del botón al pasar el mouse */
}

p {
    color: red; /* Color del mensaje de error */
}
